// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Partials
@import 'partials/variables';
@import 'partials/generals';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.order-icon {
    width: 1rem;
    height: 1rem;

    &.order-desc {
        transform: rotate(180deg);
        transform-origin: center;
    }
}